<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu4java.system.mapper.MenuMapper">
    <resultMap type="menu" id="menuMap" extends="BaseEntity.entity">
    </resultMap>

    <resultMap type="menu" id="menuTreeMap" extends="BaseEntity.entity">

        <collection property="children" ofType="menu" column="id" select="selectTreeByPid" />

    </resultMap>

    <sql id="allColumnSql">
        t.id,
        t.create_by,
        t.create_time,
        t.update_by,
        t.update_time,
        t.is_delete,
        t.version,
        t.title,
        t.code,
        t.path,
        t.pid,
        t.router_name,
        t.type,
        t.icon,
        t.component,
        t.hidden,
        t.status,
        t.hide_children_in_menu,
        t.order_num
    </sql>

    <sql id="searchSql">
        <where>
            <if test="condition.pid != null">
                AND t.pid = #{condition.pid}
            </if>

            <if test="condition.title != null and condition.title != ''">
                AND t.title LIKE CONCAT('%', #{condition.title}, '%')
            </if>

            <if test="condition.status != null">
                AND t.status = #{condition.status}
            </if>
        </where>
    </sql>

    <select id="selectTreeByPid" resultMap="menuTreeMap">
        select
        <include refid="allColumnSql"/>
        from sys_menu t
        where t.pid = #{pid} order by t.order_num
    </select>

    <select id="selectByUserId" resultMap="menuMap">
        select
        <include refid="allColumnSql"/>
        from sys_menu t
        left join sys_role_menu t2 on t.id = t2.menu_id
        left join sys_user_role t3 on t2.role_id = t3.role_id
        where t3.user_id = #{userId}
    </select>

    <select id="selectTreeByCondition" resultMap="menuTreeMap">
        select
        <include refid="allColumnSql"/>
        from sys_menu t
        <include refid="searchSql"/>
        order by t.order_num
    </select>

</mapper>