<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hu4java.user.mapper.RoleMapper">
    <resultMap type="role" id="roleMap" extends="BaseEntity.entity">
    </resultMap>

    <sql id="allColumnSql">
        t.id,
        t.create_by,
        t.create_time,
        t.update_by,
        t.update_time,
        t.is_delete,
        t.version,
        t.name,
        t.code,
        t.status
    </sql>

    <sql id="searchSql">
        <where>
            <if test="condition.name != null and condition.name != ''">
                AND t.name LIKE CONCAT('%', #{condition.name}, '%')
            </if>

            <if test="condition.status != null">
                AND t.status = #{condition.status}
            </if>
        </where>
    </sql>

    <select id="selectByUserId" resultMap="roleMap">
        select
        <include refid="allColumnSql"/>
        from sys_role t
        left join sys_user_role t2 on t.id = t2.role_id
        where t2.user_id = #{userId}
    </select>

</mapper>